#drum-machine {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 350px;
  margin: 0 auto;
}

.drum-pad{
  width: 100px;
  height: 80px;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #000;
  box-shadow: #053AFA 3px 3px 5px;
  font-size: 20px;
  font-weight: 700;
  color: #053AFA;
}

.wrapper {
  width: 500px;
  text-align: center;
  background-color: #FA6D05;
  border-radius: 20px;
  box-shadow: black 8px 8px 5px;
  padding: 30px;
}

#display {
  width: 150px;
  box-shadow: black 8px 8px 5px;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 18px;
  padding: 10px;
  color: #fff;
}

.dev {
  margin-top: 10px;
  color: #fff;
}

