#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120vh;
}

body {
  background-color: #8d8d8d;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

